@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.screen-reader-only {
  position: absolute;
  left: -100000px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #f7f8fd;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

.button--main {
  font-size: .75rem;
  padding: .8em 1.2em;
}

.button--add-feedback {
  color: white;
  background-color: #b11fea;
}

.feedback-button-svg {
  margin-right: .25em;
}

.container {
  width: 87%;
  max-width: 1000px;
  margin: 0 auto;
}

.suggestions {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions .app-info {
  color: white;
  background-image: url("../assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0;
}

.suggestions .app-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions .app-info__title {
  font-size: 1.1rem;
}

.suggestions .app-info__sub-heading {
  font-weight: 500;
}

.suggestions__content {
  /*
            ? This is a flex child of .suggestions.
            ? Adding flex property to make it occupy remaining space
            ? below .app-info on mobile
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions__header {
  color: white;
  background-color: #3a4373;
}

.suggestions__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .6em 0;
}

.suggestions__header-info {
  font-size: .8rem;
}

.suggestions__header-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions__header-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: white;
  margin-left: .35em;
}

.suggestions__header-button-text {
  margin-right: .4em;
}

.suggestions__main {
  /* 
            ? Make .suggestions__main fill remaining space.
            ? This is a flex child of .suggestions__content
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f8fd;
  padding: 2em 0;
}

.suggestions__main-content {
  /* 
            ? Make .suggestions__main-content fill remaining space.
            ? This is a flex child of .suggestions__main
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions__empty {
  /* 
            ? Make .suggestions__empty fill remaining space.
            ? This is a flex child of .suggestions__main-content
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 0 1.5em;
}

.suggestions__empty-img-container {
  margin-bottom: 2.25em;
}

.suggestions__empty-title {
  font-size: 1.2rem;
  line-height: 1.1;
  color: #3a4373;
  margin-bottom: 1em;
}

.suggestions__empty-message {
  color: #647196;
  line-height: 1.38;
  margin-bottom: 1.5em;
}

@media (min-width: 600px) {
  .button--main {
    font-size: .8rem;
    padding: .8em 2em;
  }
  .feedback-button-svg {
    margin-right: .4em;
  }
  .suggestions {
    width: 93%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2.5em;
    background-color: #f7f8fd;
  }
  .suggestions__aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5em;
    margin-bottom: 2.25em;
  }
  .suggestions__aside > * {
    border-radius: 10px;
    height: 100%;
  }
  .suggestions__aside .app-info {
    background-image: url("../assets/suggestions/tablet/background-header.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1.5em 0;
  }
  .suggestions__aside .app-info__content.container {
    width: 100%;
    padding: 0 1.5em;
    margin: 0;
  }
  .suggestions__aside .app-info__title {
    line-height: 1.1;
    margin-bottom: .25em;
  }
  .suggestions__aside > :not(.app-info) {
    background-color: white;
  }
  .suggestions__aside > * {
    height: 23vw;
    overflow: auto;
    max-width: 255px;
    max-height: 190px;
  }
  .suggestions__aside .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: .5em;
    padding: 1.5em;
  }
  .suggestions__aside .tags__tag {
    font-size: .9rem;
    font-weight: 600;
    color: #4761e6;
    background-color: #f0f2ff;
    border-radius: 10px;
    padding: .5em 1.5em;
  }
  .suggestions__aside .tags__tag.tag--active {
    color: white;
    background-color: #4761e6;
  }
  .suggestions__aside .roadmap-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5em;
  }
  .suggestions__aside .roadmap-info__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.15em;
  }
  .suggestions__aside .roadmap-info__link {
    font-size: .95rem;
    color: #4761e6;
    text-decoration: underline;
  }
  .suggestions__aside .roadmap-info__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #647196;
  }
  .suggestions__aside .roadmap-info__category:not(:last-child) {
    margin-bottom: .75em;
  }
  .suggestions__aside .roadmap-info__category-quantity {
    font-weight: 700;
  }
  .suggestions__aside .roadmap-info__categories {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .suggestions__aside .roadmap-info__title {
    font-size: 1.1rem;
    color: #3a4373;
  }
  .suggestions__aside .roadmap-info__detail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5em;
  }
  .suggestions__aside .roadmap-info__detail-icon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .suggestions__aside .roadmap-info__detail-icon.orange {
    background-color: #f49f86;
  }
  .suggestions__aside .roadmap-info__detail-icon.purple {
    background-color: #b11fea;
  }
  .suggestions__aside .roadmap-info__detail-icon.light-blue {
    background-color: #61bdfa;
  }
  .suggestions__header {
    border-radius: 10px;
  }
  .suggestions__header-content.container {
    width: 100%;
    margin: 0;
    padding: 0.6em 1.5em;
  }
  .suggestions__header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .suggestions__header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .suggestions__header-data {
    font-weight: 700;
  }
  .suggestions__main {
    padding: 1.25em 0;
  }
  .suggestions__main-content.container {
    width: 100%;
    margin: 0;
  }
  .suggestions__empty {
    padding: 8em;
  }
  .suggestions__empty-message {
    margin-bottom: 2.5em;
  }
}

@media (min-width: 821px) {
  .suggestions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.25em;
    padding-bottom: 7em;
  }
  .suggestions__aside {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.75em;
    margin-bottom: 0;
    max-width: 255px;
  }
  .suggestions__aside .app-info {
    height: 15vh;
  }
  .suggestions__aside > :not(.app-info) {
    background-color: white;
  }
  .suggestions__aside .tags {
    height: 100%;
  }
  .suggestions__content {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
/*# sourceMappingURL=main.css.map */