@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
/*
    * I'm using this grid-template-column sizing and gap twice - once 
    * for the feedback item card and again the comments to ensure
    * the leftmost part of the feedback item's message aligns with 
    * the leftmost part of the subsequent comment's message
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.screen-reader-only {
  position: absolute;
  left: -100000px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #f7f8fd;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

.button--main {
  font-size: .75rem;
  color: #f0f2ff;
  padding: .9em 1.2em;
}

.button--add-feedback {
  background-color: #b11fea;
}

.button--add-feedback:hover, .button--add-feedback:focus {
  background-color: #c85af6;
}

.button--edit-feedback {
  background-color: #4761e6;
}

.button--edit-feedback:hover, .button--edit-feedback:focus {
  background-color: #7b90f9;
}

.button--cancel {
  background-color: #3a4373;
}

.button--cancel:hover, .button--cancel:focus {
  background-color: #666fa3;
}

.button--delete {
  background-color: #d73737;
}

.button--delete-hover, .button--delete-focus {
  background-color: #e98686;
}

.feedback-button-svg {
  margin-right: .25em;
}

.container {
  width: 87%;
  max-width: 1000px;
  margin: 0 auto;
}

.go-back-header {
  margin-bottom: 3.75em;
}

.go-back__primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: .9rem;
  color: #647196;
}

.go-back__primary-button-text:hover, .go-back__primary-button-text:focus {
  text-decoration: underline;
}

.go-back-header--secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.input, .input--error, .textarea, .textarea--error {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  color: #3a4373;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #f7f8fd;
  padding: 1.25em 2.25em 1.25em 1em;
}

.input:hover, .input--error:hover, .textarea:hover, .textarea--error:hover, .input:focus, .input--error:focus, .textarea:focus, .textarea--error:focus {
  outline: 1px solid #4761e6;
}

.input--dropdown {
  position: relative;
}

.input--dropdown .dropdown-menu, .input--dropdown .dropdown-menu--hidden {
  min-width: 100%;
}

.input__dropdown-toggle {
  position: absolute;
  padding: .5em;
  right: .5em;
  top: 0;
  bottom: 0;
}

.input--error {
  outline: 1px solid #d73737;
}

.textarea, .textarea--error {
  padding-right: 1.25em;
  resize: vertical;
  min-height: 120px;
}

.textarea--error {
  outline: 1px solid #d73737;
}

.feedback-item {
  padding: 1.5em;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.feedback-item__badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  margin-bottom: 1.1em;
}

.feedback-item__badge-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.feedback-item__badge-icon.feedback-item__badge-icon--purple {
  background-color: #b11fea;
}

.feedback-item__badge-icon.feedback-item__badge-icon--orange {
  background-color: #f49f86;
}

.feedback-item__badge-icon.feedback-item__badge-icon--light-blue {
  background-color: #61bdfa;
}

.feedback-item__badge-text {
  font-size: .9rem;
}

.feedback-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'feedback-item-text feedback-item-text feedback-item-text' 'feedback-item-tag-container feedback-item-tag-container feedback-item-tag-container' 'feedback-item-upvotes . feedback-item-comments';
}

.feedback-content__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: feedback-item-text;
  margin-bottom: .65em;
}

.feedback-content__upvotes {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: feedback-item-upvotes;
}

.feedback-content__comments {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: feedback-item-comments;
  -ms-grid-column-align: end;
      justify-self: end;
}

.feedback-content__tag-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: feedback-item-tag-container;
}

.feedback-content__title {
  display: inline-block;
  font-size: 1.05rem;
  font-weight: 700;
  color: #3a4373;
  margin-bottom: .4em;
}

.feedback-content a.feedback-content__title:hover,
.feedback-content a.feedback-content__title:focus {
  color: #4761e6;
}

.feedback-content__message {
  color: #647196;
}

.feedback-content__tag {
  display: inline-block;
  font-size: .95rem;
  font-weight: 600;
  color: #4761e6;
  border-radius: 10px;
  background-color: #f7f8fd;
  padding: 0.35em 1.15em;
}

.feedback-content__tag-container {
  margin-bottom: .65em;
}

.feedback-content__upvotes {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feedback-content__upvotes-total {
  font-size: .95rem;
  font-weight: 700;
  color: #3a4373;
}

.feedback-content__upvotes-button, .feedback-content__upvotes-button--clicked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  background-color: #f7f8fd;
  border-radius: 10px;
  padding: 0.35em 1.15em;
}

.feedback-content__upvotes-button:hover, .feedback-content__upvotes-button--clicked:hover, .feedback-content__upvotes-button:focus-visible, .feedback-content__upvotes-button--clicked:focus-visible {
  background-color: #d1d9ff;
}

.feedback-content__upvotes-button--clicked {
  color: white;
  background-color: #4761e6;
}

.feedback-content__upvotes-button--clicked .feedback-content__upvotes-total {
  color: white;
}

.feedback-content__upvotes-button--clicked:hover, .feedback-content__upvotes-button--clicked:focus {
  background-color: #4761e6;
}

.feedback-content__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  -ms-flex-item-align: center;
      align-self: center;
}

.feedback-content__comments-total {
  font-weight: 600;
  color: #3a4373;
}

.dropdown-menu, .dropdown-menu--hidden {
  position: absolute;
  top: 4.25em;
  left: 0;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 40px -7px #373F68;
          box-shadow: 0px 10px 40px -7px #373F68;
  min-width: 200px;
}

.dropdown-menu__item:not(:last-child) {
  border-bottom: 1px solid #ced3ed;
}

.dropdown-menu__button, .dropdown-menu__button--active {
  font-size: .9rem;
  font-weight: 400;
  color: #647196;
  width: 100%;
  padding: 1em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown-menu__button:hover, .dropdown-menu__button--active:hover, .dropdown-menu__button:focus, .dropdown-menu__button--active:focus {
  color: #b11fea;
}

.dropdown-menu--hidden {
  display: none;
}

.mobile-side-menu, .mobile-side-menu--hidden {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  /*
        * 81px is the height of the banner with the gradient
        * background, so moving the menu to be directly below it
    */
  top: 81px;
  right: 0;
  z-index: 1;
  max-width: 72%;
  height: calc(100vh - 81px);
  padding: 1.5em;
  background-color: #f7f8fd;
}

.mobile-side-menu .tags, .mobile-side-menu--hidden .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5em;
  padding: 1.5em;
}

.mobile-side-menu .tags__tag, .mobile-side-menu--hidden .tags__tag {
  font-size: .9rem;
  font-weight: 600;
  background-color: #f0f2ff;
  border-radius: 10px;
}

.mobile-side-menu .tags__tag:hover, .mobile-side-menu--hidden .tags__tag:hover, .mobile-side-menu .tags__tag:focus, .mobile-side-menu--hidden .tags__tag:focus {
  background-color: #d1d9ff;
}

.mobile-side-menu .tags__tag-button, .mobile-side-menu--hidden .tags__tag-button {
  color: #4761e6;
  padding: .435em 1.175em;
}

.mobile-side-menu .tags__tag.tag--active, .mobile-side-menu--hidden .tags__tag.tag--active {
  background-color: #4761e6;
}

.mobile-side-menu .tags__tag.tag--active > .tags__tag-button, .mobile-side-menu--hidden .tags__tag.tag--active > .tags__tag-button {
  color: white;
}

.mobile-side-menu .roadmap-info, .mobile-side-menu--hidden .roadmap-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em;
}

.mobile-side-menu .roadmap-info__header, .mobile-side-menu--hidden .roadmap-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.15em;
}

.mobile-side-menu .roadmap-info__link, .mobile-side-menu--hidden .roadmap-info__link {
  font-size: .95rem;
  color: #4761e6;
  text-decoration: underline;
}

.mobile-side-menu .roadmap-info__link:hover, .mobile-side-menu--hidden .roadmap-info__link:hover, .mobile-side-menu .roadmap-info__link:focus, .mobile-side-menu--hidden .roadmap-info__link:focus {
  color: #8295f8;
}

.mobile-side-menu .roadmap-info__category, .mobile-side-menu--hidden .roadmap-info__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #647196;
}

.mobile-side-menu .roadmap-info__category:not(:last-child), .mobile-side-menu--hidden .roadmap-info__category:not(:last-child) {
  margin-bottom: .75em;
}

.mobile-side-menu .roadmap-info__category-quantity, .mobile-side-menu--hidden .roadmap-info__category-quantity {
  font-weight: 700;
}

.mobile-side-menu .roadmap-info__categories, .mobile-side-menu--hidden .roadmap-info__categories {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-side-menu .roadmap-info__title, .mobile-side-menu--hidden .roadmap-info__title {
  font-size: 1.1rem;
  color: #3a4373;
}

.mobile-side-menu .roadmap-info__detail-container, .mobile-side-menu--hidden .roadmap-info__detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

.mobile-side-menu .roadmap-info__detail-icon, .mobile-side-menu--hidden .roadmap-info__detail-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.mobile-side-menu .roadmap-info__detail-icon.orange, .mobile-side-menu--hidden .roadmap-info__detail-icon.orange {
  background-color: #f49f86;
}

.mobile-side-menu .roadmap-info__detail-icon.purple, .mobile-side-menu--hidden .roadmap-info__detail-icon.purple {
  background-color: #b11fea;
}

.mobile-side-menu .roadmap-info__detail-icon.light-blue, .mobile-side-menu--hidden .roadmap-info__detail-icon.light-blue {
  background-color: #61bdfa;
}

.mobile-side-menu .tags, .mobile-side-menu--hidden .tags, .mobile-side-menu .roadmap-info, .mobile-side-menu--hidden .roadmap-info {
  background-color: white;
  border-radius: 10px;
}

.mobile-side-menu .tags, .mobile-side-menu--hidden .tags {
  gap: .875em;
}

.mobile-side-menu--hidden {
  display: none;
}

.suggestions {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions--scroll-lock {
  max-height: 100vh;
  overflow: hidden;
}

.suggestions--scroll-lock .app-info {
  color: white;
  background-image: url("../assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0;
}

.suggestions--scroll-lock .app-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggestions--scroll-lock .app-info__title {
  font-size: 1.1rem;
}

.suggestions--scroll-lock .app-info__sub-heading {
  font-weight: 500;
}

.suggestions--scroll-lock .app-info__hamburger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suggestions .app-info {
  color: white;
  background-image: url("../assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0;
}

.suggestions .app-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggestions .app-info__title {
  font-size: 1.1rem;
}

.suggestions .app-info__sub-heading {
  font-weight: 500;
}

.suggestions .app-info__hamburger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suggestions__content, .suggestions__content--dark {
  /*
            ? This is a flex child of .suggestions.
            ? Adding flex property to make it occupy remaining space
            ? below .app-info on mobile
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions__content--dark {
  height: 100vh;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.suggestions__header {
  color: white;
  background-color: #3a4373;
}

.suggestions__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .6em 0;
}

.suggestions__header-container {
  position: relative;
}

.suggestions__header-info {
  font-size: .8rem;
}

.suggestions__header-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions__header-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: white;
  margin-left: .35em;
}

.suggestions__header-sort:hover, .suggestions__header-sort:focus {
  color: #f0f2ff;
}

.suggestions__header-button-text {
  margin-right: .4em;
}

.suggestions__main {
  /* 
            ? Makes .suggestions__main fill remaining space.
            ? This is a flex child of .suggestions__content
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f8fd;
  padding: 2em 0;
  /*
            * Just played around with this number until I 
            * found where the page only moves a little but the container
            * housing the feedback items scrolls
        */
  max-height: 100vh;
  overflow-y: auto;
}

.suggestions__main-content {
  /* 
            ? Makes .suggestions__main-content fill remaining space.
            ? This is a flex child of .suggestions__main
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.suggestions__empty {
  /* 
            ? Makes .suggestions__empty fill remaining space.
            ? This is a flex child of .suggestions__main-content
        */
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 0 1.5em;
}

.suggestions__empty-img-container {
  margin-bottom: 2.25em;
}

.suggestions__empty-title {
  font-size: 1.2rem;
  line-height: 1.1;
  color: #3a4373;
  margin-bottom: 1em;
}

.suggestions__empty-message {
  color: #647196;
  line-height: 1.38;
  margin-bottom: 1.5em;
}

.add-edit-feedback {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
        * Initially used $page-padding, but the go-back button on the
        * FeedbackDetailPage wasn't aligned with that of AddEditFeedbackPage
        * that doesn't have a secondary button, so I increased the upper padding by .55em
    */
  padding: 2.6em 0 6em;
}

.add-edit-feedback__icon, .add-edit-feedback__icon--edit, .add-edit-feedback__icon--add {
  position: absolute;
  top: -1.75em;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-size: contain;
}

.add-edit-feedback__icon--edit {
  background-image: url("../assets/shared/icon-edit-feedback.svg");
}

.add-edit-feedback__icon--add {
  background-image: url("../assets/shared/icon-new-feedback.svg");
}

.add-edit-feedback__main, .add-edit-feedback__main--editing {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 3.5em 1.5em 1.5em;
}

.add-edit-feedback__title {
  font-size: 1.3rem;
  color: #3a4373;
  margin-bottom: 1.25em;
}

.add-edit-feedback__input-title {
  font-size: 1rem;
  color: #3a4373;
  margin-bottom: .2em;
}

.add-edit-feedback__label {
  display: inline-block;
  color: #647196;
  margin-bottom: .95em;
}

.add-edit-feedback__input-info {
  margin-bottom: 1.5em;
}

.add-edit-feedback__validation {
  padding-top: .35em;
}

.add-edit-feedback__validation-message {
  color: #d73737;
}

.add-edit-feedback__validation--hidden {
  display: none;
}

.add-edit-feedback__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 1em;
}

.add-edit-feedback__buttons--editing {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 0;
      grid-template-areas: 'add-button-container' 'cancel-button-container' 'delete-button-container';
}

.add-edit-feedback__button {
  width: 100%;
  padding: 1.15em 1.2em;
}

.add-edit-feedback__button-container:first-child {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: delete-button-container;
}

.add-edit-feedback__button-container:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cancel-button-container;
}

.add-edit-feedback__button-container:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: add-button-container;
}

.feedback-detail {
  padding: 2em 0 6em;
}

.feedback-detail .textarea, .feedback-detail .textarea--error {
  margin-bottom: .5em;
}

.feedback-detail__comments-container {
  background-color: white;
  border-radius: 10px;
  padding: 1.5em 1.5em 2em 1.5em;
  margin-bottom: 1.5em;
}

.feedback-detail__comments-title {
  font-size: 1.3rem;
  color: #3a4373;
  margin-bottom: 1.3em;
}

.feedback-detail__comment, .feedback-detail__comment--reply {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0 .85em;
      grid-template-areas: 'comment-img-container comment-header' 'comment-message-container comment-message-container' 'comment-reply-form comment-reply-form' 'comment-replies comment-replies';
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
}

.feedback-detail__comment:not(:last-child), .feedback-detail__comment--reply:not(:last-child) {
  border-bottom: 1px solid #ced3ed;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.feedback-detail__comment--reply {
  border-bottom: none;
}

.feedback-detail__comment--reply:not(:last-child) {
  padding-bottom: 0;
}

.feedback-detail__comment .comment__img-container, .feedback-detail__comment--reply .comment__img-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: comment-img-container;
  max-width: 60px;
  max-height: 60px;
}

.feedback-detail__comment .comment__header, .feedback-detail__comment--reply .comment__header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: comment-header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.feedback-detail__comment .comment__user-img, .feedback-detail__comment--reply .comment__user-img {
  border-radius: 50%;
}

.feedback-detail__comment .comment__user-name, .feedback-detail__comment--reply .comment__user-name {
  font-size: .95rem;
  margin-bottom: .3em;
  line-height: 1;
}

.feedback-detail__comment .comment__user-handle, .feedback-detail__comment--reply .comment__user-handle {
  font-size: .95rem;
  color: #647196;
  line-height: 1;
}

.feedback-detail__comment .comment__reply-button, .feedback-detail__comment--reply .comment__reply-button {
  color: #4761e6;
}

.feedback-detail__comment .comment__reply-button:hover, .feedback-detail__comment--reply .comment__reply-button:hover, .feedback-detail__comment .comment__reply-button:focus, .feedback-detail__comment--reply .comment__reply-button:focus {
  text-decoration: underline;
}

.feedback-detail__comment .comment__message, .feedback-detail__comment--reply .comment__message {
  font-size: .95rem;
  color: #647196;
}

.feedback-detail__comment .comment__message-container, .feedback-detail__comment--reply .comment__message-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment-message-container;
  padding-top: 1em;
}

.feedback-detail__comment .comment__replies, .feedback-detail__comment--reply .comment__replies {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment-replies;
  padding-top: 1.5em;
  padding-left: 1.5em;
}

.feedback-detail__comment .comment__replies .feedback-detail__comment--reply, .feedback-detail__comment--reply .comment__replies .feedback-detail__comment--reply {
  border-bottom: none;
}

.feedback-detail__comment .comment__reply-form-container, .feedback-detail__comment--reply .comment__reply-form-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment-reply-form;
  padding-top: 1em;
}

.feedback-detail__comment .comment__reply-form-container--hidden, .feedback-detail__comment--reply .comment__reply-form-container--hidden {
  max-height: 0;
  overflow: hidden;
}

.feedback-detail__comment .comment__reply-form-button-container, .feedback-detail__comment--reply .comment__reply-form-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.feedback-detail__comment .comment__replying-to, .feedback-detail__comment--reply .comment__replying-to {
  font-weight: 700;
  color: #b11fea;
}

.feedback-detail__add-comment {
  background-color: white;
  border-radius: 10px;
  padding: 1.5em;
}

.feedback-detail__add-comment .add-comment__title {
  font-size: 1.3rem;
  color: #3a4373;
  margin-bottom: 1em;
}

.feedback-detail__add-comment .add-comment__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: .25em;
}

.feedback-detail__add-comment .add-comment__character-limit-message {
  color: #647196;
}

.roadmap {
  padding-bottom: 6em;
}

.roadmap__header {
  background-color: #373f68;
}

.roadmap__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.75em 0;
}

.roadmap__header-link-container {
  margin-bottom: .75em;
}

.roadmap__header .go-back__primary-button {
  font-size: .8rem;
  color: white;
}

.roadmap__header-title {
  font-size: 1.05rem;
  line-height: 1;
  color: white;
}

.roadmap__mobile-navbar {
  border-bottom: 1px solid #ced3ed;
  padding-right: .25em;
  margin-bottom: 1.65em;
}

.roadmap__mobile-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roadmap__mobile-nav-item, .roadmap__mobile-nav-item--active {
  /* 
                * This one isn't 1 because it breaks the
                * layout at exactly 320px (iPhone 5s and smaller)
            */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap__mobile-nav-item:first-child, .roadmap__mobile-nav-item--active:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.roadmap__mobile-nav-item:nth-child(2), .roadmap__mobile-nav-item--active:nth-child(2) {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25;
          flex: 1.25;
}

.roadmap__mobile-nav-item:last-child, .roadmap__mobile-nav-item--active:last-child {
  -webkit-box-flex: .8;
      -ms-flex: .8;
          flex: .8;
}

.roadmap__mobile-nav-item--active {
  /* 
                    * Box shadow doesn't increase container size,
                    * so it's a better option than border-bottom
                */
  -webkit-box-shadow: 0 -4px 0 0 #b11fea inset;
          box-shadow: 0 -4px 0 0 #b11fea inset;
}

.roadmap__mobile-nav-item--active .roadmap__mobile-nav-button {
  color: #3a4373;
}

.roadmap__mobile-nav-button {
  display: inline-block;
  color: #a6aac3;
  min-height: 64px;
}

.roadmap__category-header {
  margin-bottom: 1.6em;
}

.roadmap__category-title {
  font-size: 1.3rem;
  line-height: 1;
  color: #3a4373;
  margin-bottom: .7em;
}

.roadmap__category-explanation {
  font-size: .95rem;
  line-height: 1;
  color: #647196;
}

.roadmap__category-item {
  padding-top: .375em;
  border-radius: 10px;
}

.roadmap__category-item.roadmap__category-item--purple {
  background-color: #b11fea;
}

.roadmap__category-item.roadmap__category-item--orange {
  background-color: #f49f86;
}

.roadmap__category-item.roadmap__category-item--light-blue {
  background-color: #61bdfa;
}

.roadmap__category-item .feedback-item {
  border-radius: 0 0 10px 10px;
}

@media (max-width: 330px) {
  .suggestions .button--main {
    padding: .8em .95em;
  }
  .suggestions__header-button-container .button--add-feedback {
    padding: .8em .6em;
  }
  .add-edit-feedback__button {
    padding: 1.05em 1.2em;
  }
  .feedback-detail__comment--reply .comment__user-name, .feedback-detail__comment--reply .comment__user-handle {
    font-size: .85rem;
  }
  .feedback-detail__comment--reply .comment__reply-button {
    font-size: .75rem;
  }
  .feedback-detail__add-comment .add-comment__character-limit-message {
    font-size: .85rem;
  }
}

@media (min-width: 425px) {
  .feedback-detail__comment, .feedback-detail__comment--reply {
    -ms-grid-columns: 2fr 12fr;
        grid-template-columns: 2fr 12fr;
  }
}

@media (min-width: 600px) {
  .button--main {
    font-size: .8rem;
    padding: 1em 2em;
  }
  .feedback-button-svg {
    margin-right: .4em;
  }
  .feedback-content__upvotes-button, .feedback-content__upvotes-button--clicked {
    padding: .4em 1.15em;
  }
  .input, .input--error, .textarea, .textarea--error {
    font-size: 1rem;
    padding: .85em 2.25em .85em 1.25em;
  }
  .input__dropdown-toggle {
    right: 1.15em;
  }
  .textarea, .textarea--error {
    font-size: 1rem;
    margin-bottom: 0;
    min-height: 96px;
  }
  .dropdown-menu, .dropdown-menu--hidden {
    min-width: 255px;
  }
  .dropdown-menu__button, .dropdown-menu__button--active {
    font-size: 1rem;
  }
  .suggestions {
    width: 93%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 3.5em 0 6em;
    background-color: #f7f8fd;
    /*
        * These styles apply to a feedback item whose ancestor has an element
        * with a .parent__main e.g. suggestions__main or feedback-detail__main.
        ! These styles should only applied in the 600px up breakpoint.
    */
  }
  .suggestions__aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5em;
    margin-bottom: 2.25em;
  }
  .suggestions__aside > * {
    border-radius: 10px;
    height: 100%;
  }
  .suggestions__aside .app-info {
    background-image: url("../assets/suggestions/tablet/background-header.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1.5em 0;
  }
  .suggestions__aside .app-info__content.container {
    width: 100%;
    padding: 0 1.5em;
    margin: 0;
  }
  .suggestions__aside .app-info__title {
    line-height: 1.1;
    margin-bottom: .25em;
  }
  .suggestions__aside > :not(.app-info) {
    background-color: white;
  }
  .suggestions__aside > * {
    height: 23vw;
    overflow: auto;
    max-width: 255px;
    max-height: 190px;
  }
  .suggestions__aside .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: .5em;
    padding: 1.5em;
  }
  .suggestions__aside .tags__tag {
    font-size: .9rem;
    font-weight: 600;
    background-color: #f0f2ff;
    border-radius: 10px;
  }
  .suggestions__aside .tags__tag:hover, .suggestions__aside .tags__tag:focus {
    background-color: #d1d9ff;
  }
  .suggestions__aside .tags__tag-button {
    color: #4761e6;
    padding: .435em 1.175em;
  }
  .suggestions__aside .tags__tag.tag--active {
    background-color: #4761e6;
  }
  .suggestions__aside .tags__tag.tag--active > .tags__tag-button {
    color: white;
  }
  .suggestions__aside .roadmap-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5em;
  }
  .suggestions__aside .roadmap-info__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.15em;
  }
  .suggestions__aside .roadmap-info__link {
    font-size: .95rem;
    color: #4761e6;
    text-decoration: underline;
  }
  .suggestions__aside .roadmap-info__link:hover, .suggestions__aside .roadmap-info__link:focus {
    color: #8295f8;
  }
  .suggestions__aside .roadmap-info__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #647196;
  }
  .suggestions__aside .roadmap-info__category:not(:last-child) {
    margin-bottom: .75em;
  }
  .suggestions__aside .roadmap-info__category-quantity {
    font-weight: 700;
  }
  .suggestions__aside .roadmap-info__categories {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .suggestions__aside .roadmap-info__title {
    font-size: 1.1rem;
    color: #3a4373;
  }
  .suggestions__aside .roadmap-info__detail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5em;
  }
  .suggestions__aside .roadmap-info__detail-icon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .suggestions__aside .roadmap-info__detail-icon.orange {
    background-color: #f49f86;
  }
  .suggestions__aside .roadmap-info__detail-icon.purple {
    background-color: #b11fea;
  }
  .suggestions__aside .roadmap-info__detail-icon.light-blue {
    background-color: #61bdfa;
  }
  .suggestions__header {
    border-radius: 10px;
  }
  .suggestions__header-content.container {
    width: 100%;
    margin: 0;
    padding: 0.865em 1.5em;
  }
  .suggestions__header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .suggestions__header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .suggestions__header-data {
    font-weight: 700;
  }
  .suggestions__main {
    padding: 1.25em 0;
    max-height: 73vh;
  }
  .suggestions__main-content.container {
    width: 100%;
    margin: 0;
  }
  .suggestions__main .feedback-item {
    padding: 2em;
  }
  .suggestions__main .feedback-content {
        grid-template-areas: 'feedback-item-upvotes feedback-item-text feedback-item-comments' 'feedback-item-upvotes  feedback-item-text feedback-item-comments' '. feedback-item-tag-container feedback-item-comments';
    -ms-grid-columns: minmax(40px, 40px) 12fr 1fr;
        grid-template-columns: minmax(40px, 40px) 12fr 1fr;
    gap: 0 2em;
  }
  .suggestions__main .feedback-content__title {
    font-size: 1.1rem;
    margin-bottom: .25em;
  }
  .suggestions__main .feedback-content__upvotes {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .suggestions__main .feedback-content__upvotes-button, .suggestions__main .feedback-content__upvotes-button--clicked {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 40px;
    max-height: 53px;
  }
  .suggestions__main .feedback-content__comments {
    gap: .65em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .suggestions__main .feedback-content__tag-container {
    margin-bottom: 0;
  }
  .suggestions__empty {
    padding: 8em;
  }
  .suggestions__empty-message {
    margin-bottom: 2.5em;
  }
  .add-edit-feedback {
    max-width: 540px;
    padding: 4.25em 0 6em;
  }
  .add-edit-feedback .go-back-header {
    margin-bottom: 4.25em;
  }
  .add-edit-feedback__button {
    width: initial;
  }
  .add-edit-feedback__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .add-edit-feedback__buttons--editing {
    -ms-grid-columns: 3fr 1fr auto;
        grid-template-columns: 3fr 1fr auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0 1em;
        grid-template-areas: 'delete-button-container cancel-button-container add-button-container';
  }
  .add-edit-feedback__main, .add-edit-feedback__main--editing {
    padding: 3.5em 2.5em 1.5em;
    max-height: 765px;
  }
  .add-edit-feedback__main--editing {
    max-height: initial;
  }
  .feedback-detail {
    max-width: 730px;
    /*
            * Since FeedbackItem is a shared component, some styles will only apply
            * on certain pages.
        */
    /*
        * These styles apply to a feedback item whose ancestor has an element
        * with a .parent__main e.g. suggestions__main or feedback-detail__main.
        ! These styles should only applied in the 600px up breakpoint.
    */
    padding: 3.5em 0 6em;
  }
  .feedback-detail__main .feedback-item {
    padding: 2em;
  }
  .feedback-detail__main .feedback-content {
        grid-template-areas: 'feedback-item-upvotes feedback-item-text feedback-item-comments' 'feedback-item-upvotes  feedback-item-text feedback-item-comments' '. feedback-item-tag-container feedback-item-comments';
    -ms-grid-columns: minmax(40px, 40px) 12fr 1fr;
        grid-template-columns: minmax(40px, 40px) 12fr 1fr;
    gap: 0 2em;
  }
  .feedback-detail__main .feedback-content__title {
    font-size: 1.1rem;
    margin-bottom: .25em;
  }
  .feedback-detail__main .feedback-content__upvotes {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .feedback-detail__main .feedback-content__upvotes-button, .feedback-detail__main .feedback-content__upvotes-button--clicked {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 40px;
    max-height: 53px;
  }
  .feedback-detail__main .feedback-content__comments {
    gap: .65em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feedback-detail__main .feedback-content__tag-container {
    margin-bottom: 0;
  }
  .feedback-detail .textarea, .feedback-detail .textarea--error {
    margin-bottom: 0;
  }
  .feedback-detail__comments-container {
    padding: 2em 2em 2.5em 2em;
  }
  .feedback-detail__comment, .feedback-detail__comment--reply {
    -ms-grid-columns: minmax(40px, 40px) 12fr 1fr;
        grid-template-columns: minmax(40px, 40px) 12fr 1fr;
    -ms-grid-rows: minmax(45px, 45px) auto auto;
        grid-template-rows: minmax(45px, 45px) auto auto;
    gap: 0 2em;
        grid-template-areas: 'comment-img-container comment-header comment-header' 'comment-img-container comment-message-container comment-message-container' '. comment-reply-form comment-reply-form' 'comment-replies comment-replies comment-replies';
  }
  .feedback-detail__comment:not(:last-child), .feedback-detail__comment--reply:not(:last-child) {
    padding-bottom: 2em;
  }
  .feedback-detail__comment--reply:not(:last-child) {
    padding-bottom: 0;
    margin-bottom: 1em;
  }
  .feedback-detail__comment .comment__user-img, .feedback-detail__comment--reply .comment__user-img, .feedback-detail__comment .comment__img-container, .feedback-detail__comment--reply .comment__img-container {
    max-width: 45px;
    max-height: 45px;
  }
  .feedback-detail__comment .comment__message, .feedback-detail__comment--reply .comment__message {
    font-size: 1rem;
  }
  .feedback-detail__comment .comment__message-container, .feedback-detail__comment--reply .comment__message-container {
    padding-top: .85em;
  }
  .feedback-detail__comment .comment__replies, .feedback-detail__comment--reply .comment__replies {
    padding-top: 2em;
    padding-left: 2em;
  }
  .feedback-detail__comment .comment__reply-form-container .comment__reply-form, .feedback-detail__comment--reply .comment__reply-form-container .comment__reply-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .feedback-detail__comment .comment__reply-form-container .comment__reply-form-textarea-container, .feedback-detail__comment--reply .comment__reply-form-container .comment__reply-form-textarea-container {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .feedback-detail__comment .comment__reply-form-container .comment__reply-form-button-container, .feedback-detail__comment--reply .comment__reply-form-container .comment__reply-form-button-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .feedback-detail__comment .comment__reply-button, .feedback-detail__comment--reply .comment__reply-button {
    font-size: .9rem;
  }
  .feedback-detail__add-comment .add-comment__button-container {
    padding-top: .7em;
  }
  .feedback-content__upvotes {
    -ms-grid-column-align: initial;
        justify-self: initial;
  }
}

/*
    ? Special breakpoint for RoadmapPage because
    ? 600px is too small to house 3 columns
*/
@media (min-width: 700px) {
  .roadmap {
    padding: 3.5em 0 6em;
  }
  .roadmap__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: .625em;
  }
  .roadmap__main.container {
    width: 93%;
  }
  .roadmap__main > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .roadmap__header {
    width: 93%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 2.15em;
  }
  .roadmap__header-content.container {
    width: 100%;
    padding: 1.8em 1.5em;
  }
  .roadmap__header-title {
    font-size: 1.5rem;
  }
  .roadmap__header .go-back__primary-button {
    font-size: .875rem;
  }
  .roadmap__category-header {
    min-height: 65px;
    max-height: 65px;
    overflow: auto;
    margin-bottom: 1em;
  }
  .roadmap__category-title {
    font-size: 1.05rem;
  }
}

@media (min-width: 821px) {
  .feedback-item__badge {
    margin-bottom: .75em;
  }
  .suggestions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.25em;
    padding: 5.875em 0 8em;
  }
  .suggestions__aside {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.75em;
    margin-bottom: 0;
    max-width: 255px;
  }
  .suggestions__aside .app-info {
    height: 16.35vh;
    min-height: 137px;
  }
  .suggestions__aside > :not(.app-info) {
    background-color: white;
  }
  .suggestions__aside .tags {
    gap: .875em;
  }
  .suggestions__aside .tags-container {
    height: auto;
  }
  .suggestions__aside .tags__tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .suggestions__content, .suggestions__content--dark {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .suggestions__main {
    max-height: 90vh;
  }
  .add-edit-feedback {
    padding: 6.6em 0 8em;
  }
  .feedback-detail {
    padding: 5.875em 0 8em;
  }
  .feedback-content__tag-text, .feedback-content__upvotes-total {
    font-size: .9rem;
  }
  .roadmap {
    padding: 5.875em 0 8em;
    width: 93%;
    max-width: 1110px;
    margin: 0 auto;
  }
  .roadmap__header {
    min-width: 100%;
  }
  .roadmap__header-content.container {
    margin: 0;
    max-width: 100%;
  }
  .roadmap__main {
    gap: 2em;
  }
  .roadmap__main.container {
    min-width: 100%;
    max-width: 1110px;
  }
}
/*# sourceMappingURL=main.css.map */