@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

$primary-font: 'Jost', sans-serif;
$border-radius: 10px;
$aside-card-padding: 1.5em;

$font-weights: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700
);

$colors: (
    'purple': hsl(283, 83, 52), // #AD1FEA
    'blue': hsl(230, 76, 59), // #4661E6
    'dark-purple-black': hsl(230, 31, 31),
    'white': hsl(0, 0, 100), // #FFFFFF
    'dark-grey': hsl(231, 100, 97), // #F2F4FF
    'light-grey': hsl(230, 60, 98), // #F7F8FD
    'purple-black': hsl(231, 33, 34), // #3A4374
    'grey-purple': hsl(224, 20, 49), // #647196
    'orange': hsl(14, 83, 74), // #F49F85
    'light-blue': hsl(204, 94, 68) // #62BCFA
);

@function getColor($color) {
    @return map-get($map: $colors, $key: $color);
}

@function getFontWeight($weight) {
    @return map-get($map: $font-weights, $key: $weight);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.screen-reader-only {
    position: absolute;
    left: -100000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

body { 
    font-family: $primary-font; 
    font-size: 1rem;
    background-color: getColor('light-grey');
}

ul { list-style: none; }

img {
    display: block;
    max-width: 100%;
}

a { 
    text-decoration: none;
    cursor: pointer;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-family: $primary-font;
    font-weight: getFontWeight('bold');

    border: none;
    border-radius: $border-radius;

    cursor: pointer;
    background-color: transparent;

    &--main { 
        font-size: .75rem;
        padding: .8em 1.2em; 
    }

    &--add-feedback {
        color: getColor('white');

        background-color: getColor('purple');
    }
}

.feedback-button-svg { margin-right: .25em; }

.container {
    width: 87%;
    max-width: 1000px;
    margin: 0 auto;
}

.suggestions {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    .app-info {
        color: getColor('white');
    
        background-image: url('../assets/suggestions/mobile/background-header.png');
        background-repeat: no-repeat;
        background-size: cover;
    
        padding: 1em 0;
    
        &__content { @include flex-space-between; }
    
        &__title { font-size: 1.1rem; }
    
        &__sub-heading { font-weight: getFontWeight('medium'); }
    }

    &__content {
        /*
            ? This is a flex child of .suggestions.
            ? Adding flex property to make it occupy remaining space
            ? below .app-info on mobile
        */
        flex: 1 auto;

        display: flex;
        flex-direction: column;
    }

    &__header {
        color: getColor('white');
        background-color: getColor('purple-black');

        &-content { 
            @include flex-space-between;
            padding: .6em 0; 
        }

        &-info { font-size: .8rem; }

        &-filter { 
            display: flex;
            align-items: center;
        }

        &-sort { 
            display: flex;
            align-items: center;

            font-weight: getFontWeight('bold'); 
            color: getColor('white');

            margin-left: .35em;
        }

        &-button-text { margin-right: .4em; }
    }


    &__main {
        /* 
            ? Make .suggestions__main fill remaining space.
            ? This is a flex child of .suggestions__content
        */
        flex: 1 auto;

        display: flex;
        flex-direction: column;

        background-color: getColor('light-grey');
        padding: 2em 0;
    }

    &__main-content { 
        /* 
            ? Make .suggestions__main-content fill remaining space.
            ? This is a flex child of .suggestions__main
        */
        flex: 1 auto;

        display: flex;
        flex-direction: column;
    }

    &__empty {
        /* 
            ? Make .suggestions__empty fill remaining space.
            ? This is a flex child of .suggestions__main-content
        */
        flex: 1 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        

        border-radius: $border-radius;
        background-color: getColor('white');

        padding: 0 1.5em;

        &-img-container { margin-bottom: 2.25em; }

        &-title { 
            font-size: 1.2rem;
            line-height: 1.1;
            color: getColor('purple-black');

            margin-bottom: 1em; 
        }

        &-message {
            color: getColor('grey-purple');
            line-height: 1.38;

            margin-bottom: 1.5em;
        }
    }
}

@media (min-width: 600px) {
    .button--main { 
        font-size: .8rem;
        padding: .8em 2em; 
    }

    .feedback-button-svg { margin-right: .4em; }

    .suggestions {
        width: 93%;
        max-width: 1200px;
        margin: 0 auto;

        padding-top: 2.5em;
        background-color: getColor('light-grey');

        &__aside {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            gap: .5em;

            margin-bottom: 2.25em;

            & > * { 
                border-radius: $border-radius;
                height: 100%; 
            }

            .app-info {
                background-image: url('../assets/suggestions/tablet/background-header.png');

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &__content.container {
                    width: 100%;
                    padding: 0 $aside-card-padding;
                    margin: 0;
                }

                &__title { 
                    line-height: 1.1; 
                    margin-bottom: .25em;
                }
            }

            & > :not(.app-info) { background-color: getColor('white'); }

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: .5em;

                padding: $aside-card-padding;

                &__tag {
                    font-size: .9rem;
                    font-weight: getFontWeight('semi-bold');
                    color: getColor('blue');

                    background-color: getColor('dark-grey');
                    border-radius: $border-radius;
                    padding: .5em 1.5em;
                    
                    &.tag--active {
                        color: getColor('white');
                        background-color: getColor('blue');
                    }
                }
            }

            .roadmap-info { 
                display: flex;
                flex-direction: column;

                padding: $aside-card-padding; 

                &__header { 
                    @include flex-space-between; 

                    margin-bottom: 1.15em;
                }

                &__link { 
                    font-size: .95rem; 
                    color: getColor('blue');
                    text-decoration: underline;
                }

                &__category { 
                    @include flex-space-between; 

                    color: getColor('grey-purple');

                    &:not(:last-child) { margin-bottom: .75em; }

                    &-quantity { font-weight: getFontWeight('bold'); }
                }

                &__title { 
                    font-size: 1.1rem; 
                    color: getColor('purple-black');
                }

                &__detail {
                    &-container {
                        display: flex;
                        align-items: center;
                        gap: .5em;
                    }

                    &-icon {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
    
                        &.orange { background-color: getColor('orange'); }
    
                        &.purple { background-color: getColor('purple'); }
    
                        &.light-blue { background-color: getColor('light-blue'); }
                    }
                }
            }
        }

        &__header {
            border-radius: $border-radius;
            
            &-content.container {
                width: 100%;
                margin: 0;

                padding: .6em $aside-card-padding;
            }

            &-info {
                display: flex;
                align-items: center;
                gap: 2em;
            }

            &-container {
                display: flex;
                align-items: center;
                gap: 1em;
            }

            &-data { font-weight: getFontWeight('bold'); }
        }

        &__main {
            padding: 1.25em 0;

            &-content.container {
                width: 100%;
                margin: 0;
            }
        }


        &__empty {
            padding: 8em;

            &-message { margin-bottom: 2.5em; }
        }
    }
}