@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

$primary-font: 'Jost', sans-serif;

$font-weights: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semi-bold': 600,
    'bold': 700
);

$colors: (
    'purple': hsl(283, 83, 52), // #AD1FEA
    'blue': hsl(230, 76, 59), // #4661E6
    'dark-purple-black': hsl(230, 31, 31),
    'white': hsl(0, 0, 100), // #FFFFFF
    'dark-grey': hsl(231, 100, 97), // #F2F4FF
    'light-grey': hsl(230, 60, 98), // #F7F8FD
    'purple-black': hsl(231, 33, 34), // #3A4374
    'grey-purple': hsl(224, 20, 49), // #647196
    'orange': hsl(14, 83, 74), // #F49F85
    'light-blue': hsl(204, 94, 68) // #62BCFA
);

@function getColor($color) {
    @return map-get($map: $colors, $key: $color);
}

@function getFontWeight($weight) {
    @return map-get($map: $font-weights, $key: $weight);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.screen-reader-only {
    position: absolute;
    left: -100000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

body { 
    font-family: $primary-font; 
    font-size: 1rem;
}

ul { list-style: none; }

img {
    display: block;
    max-width: 100%;
}

a { 
    text-decoration: none;
    cursor: pointer;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-family: $primary-font;
    font-weight: getFontWeight('bold');

    border: none;
    border-radius: 10px;

    cursor: pointer;
    background-color: transparent;

    &--main { 
        font-size: .75rem;
        padding: .8em 1.2em; 
    }

    &--add-feedback {
        color: getColor('white');

        background-color: getColor('purple');
    }
}

.container {
    width: 87%;
    max-width: 1000px;
    margin: 0 auto;
}

.suggestions {
    .app-info {
        color: getColor('white');
    
        background-image: url('../assets/suggestions/mobile/background-header.png');
        background-repeat: no-repeat;
        background-size: cover;
    
        padding: 1em 0;
    
        &__content { @include flex-space-between; }
    
        &__title { font-size: 1.1rem; }
    
        &__sub-heading { font-weight: getFontWeight('medium'); }
    }

    &__header {
        color: getColor('white');
        background-color: getColor('purple-black');

        &-content { 
            @include flex-space-between;
            padding: .6em 0; 
        }

        &-info { font-size: .8rem; }

        &-filter { 
            display: flex;
            align-items: center;
        }

        &-sort { 
            display: flex;
            align-items: center;

            font-weight: getFontWeight('bold'); 
            color: getColor('white');

            margin-left: .35em;
        }

        &-button-text { margin-right: .4em; }

        .feedback-button-svg { margin-right: .25em; }
    }
}

